

# 数据库文件
mod/models/mysql/db.py

# IDEA配置文件
HeraldWebservice.iml

# Pyhton环境配置
venv

*.py[cod]
*.pyc
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEA
*.idea
*.log
mod/models/mysql/db.py
